
.card-section {
    max-width: 1366px;
    background-color: var(--green);
    margin: 0 auto 0 auto;
}
.card-heading-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card-heading-text {
    opacity: 0;
}
.card-section-h1 {
    text-align: center;
    width: 80%;
    font-size: var(--xl);
    margin-top: 60px;
}
.card-section-h2 {
    text-align: center;
    width: 80%;
    font-size: var(--mediumLarge);
}
.card-section-p {
   text-align: center;
    font-size: var(--medium);
    width: 80%;
}
.fade-in {
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    to {opacity: 1;}
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 250px;
    border: 3px solid var(--white);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 50px;
    opacity: 0;
}
.cards-moving {
    animation: cardsMoveInPlaceMobile .7s forwards ;
}
@keyframes cardsMoveInPlaceMobile {
    to {
        opacity: 1;
        margin-right: 0;
    }
}

.last-card {
    margin-bottom: 60px;
}
.card-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-link:hover {
    cursor: pointer;
}
.card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-icon {
    height: 100px;
    transition: .3s;
}
.card-h2 {
    
    margin-top:  20px;
}


@media only screen and (min-width: 517px) {
    .card-section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-section-h1 {
        padding-top: 60px;
        margin-top: 0;
       
        font-size: var(--xl);
    }
    .card-section-h2 {
        font-size: var(--mediumLarge);
        margin-bottom: 20px;
    }
    .card {
        margin: 20px;

    }
    .cards-moving {
        animation: cardsMoveInPlaceDesktop 2s forwards ;
    }
    @keyframes cardsMoveInPlaceDesktop {
        to {
            opacity: 1;
            margin-right: 20px;
        }
    }
    .contact-spacer {
        height: 50px;
    }
}





