
.card-section {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--green);
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-section-h3 {
    color: var(--white);
    font-size: 40px;
    text-align: center;
    padding: 30px 0 30px 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    width: 275px;
    min-height: 400px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-icon {
    width: 140px;
    height: 140px;
    margin-top: 40px;
}
.card-h2 {
    font-size: 32px;
    margin-top:  20px;
}
.card-button {
    background-color: var(--red);
    border: none;
    color: var(--white);
    width: 100px;
    cursor: pointer;
}
hr {
    width: 125px;
    height: 3px;
    background-color: var(--red);
    border-color: var(--red);
    color: var(--red);
    border-style: solid;
    margin-top: 15px;
}
.card-p{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.foldout-wrapper {
    margin: 0 20px 0 20px;
    overflow: hidden;
    transition: .25s;
 }
.arrow-wrapper {
    margin: 25px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .25s;
}
.card-arrow-icon {
    width: 34px;
    margin-top: 5px;
    cursor: pointer;   
}

.forsikret {
    text-align: center;
    line-height: 35px;
}

