.navbar-underpage {
    position: static;
}

.navbar{
    top: 0%;
}

.underpage-container {
    max-width: 1280px;
    background-color: var(--green);
    margin: 30px auto 30px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    
}

.underpage-icon-container {
    margin: 30px 30px;

}
.underpage-icon {
    width: 100%;
    padding: 5%;
}

.border-container{
    width: 100%;
    border: 10px solid white;    

}

.underpage-text-container {
    margin: 0 30px;
}
.underpage-h1 {
    font-size: var(--large);
}
.underpage-p {
    font-size: var(--medium);
}
.underpage-h2-cleaning {
    margin-top: 30px;
}
.underpage-p-cleaning {
    font-size: var(--medium);
}
.checkmark-container {
    margin-top: 60px;
    
    
}
.checkmark-one {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.checkmark-img {
    max-height: 45px;
}
.checkmark-h3-one {
    font-size: var(--medium);
    font-weight: 600;
    margin-left: 10px;
}
.underpage-img-wrapper-desktop {
    display: none;
}
.underpage-img-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}
.underpage-img-one, .underpage-img-two, .underpage-img-three {
    max-width: 40%;
    border-radius: 3px;
    cursor: pointer;
}
.underpage-img-one {
    margin-right: 5px;
}



/* Certifikat linje */

.certificate-image{
    max-width: 90px;
}

.certificate-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.certifacte-text-container{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: var(--medium);

}


/* Certifikat linje */

@media only screen and (min-width: 768px) {

    .underpage-icon {
        width: 100%;
        padding: 5%;
        display: flex;
        align-items: center;
    }

    .underpage-icon-desktop-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .border-container{
        width: 100%;
        border: 5px solid white;
        display: flex;
        justify-content: center; 
    
    }

    .checkmark-h3-one{
        font-size: var(--medium);
    }

    .underpage-container {
        flex-direction: row;
    }
    .underpage-icon-container {
        margin: 30px 60px 0px 60px;
        width: 100%;
    }
    .underpage-text-container {
        margin: 30px 30px 0 20px;
    }
    .underpage-text-wrapper {
        margin-top: -10px;
    }
    .underpage-img-wrapper {
        display: none;
    }
    .underpage-img-wrapper-desktop {
        display: flex;
        justify-content: start;
        margin: 0px 0;
        width: 101%;
    }
    .underpage-img-one, .underpage-img-two,.underpage-img-three{
        max-width: 33%;
        padding: 1%;
    }
    .underpage-text-container {
        max-width: 50%;
        padding-top: 20px;
    }

}


/* Slide show */



  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Container for image text */
  
  
  .slider-img{
      padding: 5%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


/* Slide show */