.navbar-underpage {
    position: static;
}
.navbar{
    top: 0%;
}


.underpage-container {
    max-width: 1280px;
    background-color: var(--green);
    margin: 30px auto 30px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}


/* Slide show */
.swiper {
    width: 100%;
  }
.slider-img{
    width: 100%;
    border-radius: 5px;
}
.swiper-button-next {
    margin-right: 10px;
}
.swiper-button-next:after{
    color: var(--white);
}
.swiper-button-prev {
    margin-left: 10px;
}
.swiper-button-prev:after{
    color: var(--white);
}
.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    color: var(--white);
    background-color: var(--white);
}
@media  screen and (max-width: 1100px) {
    .swiper {
       max-width: 600px;
      }
}
@media  screen and (max-width: 600px) {
    .swiper-button-next {
        margin-right: 5px;
    }
    .swiper-button-next:after{
        color: var(--white);
        font-size: 34px;
    }
    .swiper-button-prev {
        margin-left: 5px;
    }
    .swiper-button-prev:after{
        color: var(--white);
        font-size: 34px;
    }
}
/* Slide show */


.underpage-icon-container {
    margin: 30px 30px;
}
.underpage-icon {
    width: 100%;
    padding: 5%;
}
.border-container{
    width: 100%;
    border: 10px solid white;    
}
.underpage-text-container {
    margin: 0 30px;
}
.underpage-h1 {
    font-size: var(--large);
}
.underpage-p {
    font-size: var(--medium);
}
.underpage-h3-cleaning {
    margin-top: 30px;
    font-size: 24px;
}
.underpage-p-cleaning {
    font-size: var(--medium);
}
.checkmark-container {
    margin-top: 60px;
}
.checkmark-container-moved {
    display: none;
}
.checkmark-one {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.checkmark-img {
    max-height: 45px;
}
.universal-h2 {
    font-size: 24px;
}
.checkmark-h3-one {
    font-size: var(--medium);
    font-weight: 600;
    margin-left: 10px;
}
.underpage-img-wrapper-desktop {
    display: none;
}
.underpage-img-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}
.underpage-img-one, .underpage-img-two, .underpage-img-three {
    max-width: 40%;
    border-radius: 3px;
    cursor: pointer;
}
.underpage-img-one {
    margin-right: 5px;
}

.underpage-list{
    /* padding: 20px 20px; */
    
}

.underpage-list-heading{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.underpage-list-item{
    list-style: square;
    font-size: var(--medium);
    margin-left: 30px;
}



/* Certifikat linje */

.certificate-image{
    max-width: 70px;
}
.certificate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    padding: 0 20px;
}
.certificate-h3 {
    font-size: 20px;
    margin-left: 20px;
    max-width: 590px;
}
/* Certifikat linje */

@media only screen and (min-width: 1100px) {

    .underpage-icon {
        width: 100%;
        padding: 5%;
        display: flex;
        align-items: center;
    }

    .underpage-icon-desktop-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .border-container{
        width: 100%;
       display: flex;
        justify-content: center; 
    }
    .checkmark-container-original {
        display: none;
    }
    .checkmark-container-moved {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .checkmark-h3-one{
        font-size: var(--medium);
    }
    .underpage-container {
        flex-direction: row;
    }
    .underpage-icon-container {
        margin: 30px 60px 0px 60px;
        width: 50%;
    }
    .underpage-text-container {
        margin: 30px 30px 0 20px;
    }
    .underpage-text-wrapper {
        margin-top: -10px;
    }
    .underpage-img-wrapper {
        display: none;
    }
    .underpage-img-wrapper-desktop {
        display: flex;
        justify-content: start;
        margin: 0px 0;
        width: 100%;
    }
    .underpage-text-container {
        max-width: 50%;
        padding-top: 20px;
    }
}

@media  screen and (max-width: 500px) {
    .certificate-container{
        flex-direction: column;
        margin-bottom: 60px;
    }
    .certificate-image {
        margin-bottom: 10px;
    }
}


