/* Generic shit */
:root {
    --white: #ffffff;
    --black: #000;
    --green: #1D2E1B;
    --grey: #E5E5E5;
    --red: #E25265; 

    --large: 32px;
    --mediumLarge: 26px;
    --medium: 20px;
    --small: 16px;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-color: var(--green);
    color: var(--white);

}

li {
    list-style-type: none;
}
a {
   text-decoration: none; 
   color: inherit;
}
a:visited { 
    color: inherit;
}


/* Navigation */
.desktop-navigation {
    display: none;
}
.navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 60px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


/* ------- left side */
.navbar-left {
    width: 33%;
    display: flex;
    align-items: center;
}

.logo-link {
    width: 63.25px;
    height: 30px;
    margin-left: 10px;
}
.logo {
    height: 30px;
}


/* ------ Middle */
.navbar-middle {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-container {
    position: relative;
    width: 100px;
}
.test-container {
    margin: 10px;
}
.desktop-navigation-li {
    border: 2px solid transparent;
    padding: 0px 5px;
    transition: .3s;
}
.desktop-navigation-li:hover {
    border: 2px solid var(--white);
}
.service-border-none:hover {
    border: 2px solid transparent;
}
.a-desktop {
    padding: 0px 5px;
    border: 2px solid transparent;
    transition: .3s;
}
.a-desktop:hover {
border: 2px solid var(--white);
}
.desktop-arrow-container {
    border: 2px solid transparent;
    margin-right: 50px;
    margin-left: 5px;
    transition: .3s;
}
.desktop-arrow-container:hover {
    border: 2px solid var(--white);
}
.desktop-arrow {
    height: 13px;
    cursor: pointer;
    transition: .5s;
    margin: 0 5px;
}
.desktop-foldout {
    position: absolute;
    left: 0px;
    width: 180px;
    background-color: var(--black);
    overflow: hidden;
    transition: .3s;
}
.navigation-accordion-li {
    width: 180px;
    padding-left: 10px;
    border: 2px solid transparent;
    transition: .3s;
}
.navigation-accordion-li:hover {
    width: 180px;
    border: 2px solid var(--white);
}
.desktop-ul-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fa-bars:hover {
    cursor: pointer;
}
#cross {
    display: none;
}
.fa-xmark:hover {
    cursor: pointer;
} 


/* ------ Right side */
.navbar-right {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.facebook-icon {
    width: 30px;
    height: 30px;
}
.facebook-link:hover {
    cursor: pointer;
}
.navbar-facebook-link {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


/* ------- Hidden navigation */
.hidden-navigation-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    transition: .4s;
    z-index: 1;
}
.hidden-navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #1D2E1B;
    width: 100%;
    height: 100vh;
    transition-duration: .4s;
    font-size: 24px;
    letter-spacing: 1px;
    padding-top: 100px;
    text-align: center;
}
.hidden-navigation-li {
    margin-bottom: 10px;
}
.services {
    cursor: pointer;
    margin-left: 30px;
}
.fold-out-arrow {
    height: 15px;
    margin-bottom: 3px;
    margin-left: 10px;
    transition: .3s;
}
.navigation-accordion {
    overflow: hidden;
    font-size: 20px;
    margin-right: 30px;
    height: 0px;
    transition: .5s;
}
.last-li-accordion {
    line-height: 20px;
}


/* ------ Navigation Responsive */
@media only screen and (min-width: 1120px) {
    .navbar-middle {
        width: 100%;
    }
    #burger-cross-wrapper {
        display: none;
    }
    .desktop-navigation {
        display: block;
        width: 100%;
    }
    .desktop-navigation-ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .desktop-navigation-li {
        margin-right: 50px;
    }
    .navbar-right {
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}


/* Footer */
.footer-section {
    background-color: var(--black);
}
.footer-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-logo-h1 {
    font-size: var(--mediumLarge);
}
.footer-logo {
    width: 100px;
}



/* Footer info */
.footer-info-container {
    margin-bottom: 30px;
}


.footer-info-point {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.footer-phone-icon {
    height: 16px;
    margin-right: 7px
}
.footer-email-icon {
    height: 10px;
    margin-right: 7px
}
.footer-pin-icon {
    height: 20px;
    margin-right: 7px
}
.footer-cvr-icon {
    height: 15px;
    margin-right: 7px
}



/* Footer links og soMe */

.footer-menu-links-wrapper {
    margin-bottom: 30px;
}
.footer-facebook {
    width: 40px;
    margin-right: 5spx;
}
.footer-return-arrow {
    width: 40px;
    margin-left: 5px;
}
.copyright {
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .footer-content-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .footer-info-container {
        margin-bottom: 0px;
    }
    .footer-menu-links-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .footer-facebook {
        margin-right: 0px;
    }
    .footer-return-arrow {
        margin-left: 0px;
    }

    .footer-bund-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-info {
        display: flex;
    }
    .adress-br {
        display: none;
    }
    .footer-info-left-top {
        margin-right: 20px;
    }
    .footer-info-right-bottom {
        margin-left: 20px;
    }
    .footer-menu-links-wrapper {
        margin-top: 30px;
    }
}