/* Generic shit */
:root {
    --white: #ffffff;
    --black: #000;
    --green: #1D2E1B;
    --grey: #E5E5E5;
    --red: #E25265; 

    --large: 32px;
    --medium: 20px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-color: var(--green);
}

li {
    list-style-type: none;
}
a {
   text-decoration: none; 
   color: inherit;
}
a:visited { 
    color: inherit;
}


/* Navigation */
.desktop-navigation {
    display: none;
}
.navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 50px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


/* ------- left side */
.navbar-left {
    width: 33%;
    display: flex;
    align-items: center;
}

.logo-link {
    width: 63.25px;
    height: 30px;
    margin-left: 10px;
}
.logo {
    height: 30px;
}


/* ------ Middle */
.navbar-middle {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-bars {
    color: var(--white);
}
.fa-bars:hover {
    cursor: pointer;
}
#cross {
    display: none;
}
.fa-xmark {
    color: var(--white);
}
.fa-xmark:hover {
    cursor: pointer;
} 


/* ------ Right side */
.navbar-right {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.facebook-icon {
    width: 30px;
    height: 30px;
}
.facebook-link:hover {
    cursor: pointer;
}
.navbar-facebook-link {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


/* ------- Hidden navigation */
.hidden-navigation-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.hidden-navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #1D2E1B;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    transition-duration: .4s;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
}
.hidden-navigation-li {
    margin-bottom: 10px;
}
.services {
    cursor: pointer;
    margin-left: 20px;
}
.fold-out-arrow {
    height: 10px;
    margin-bottom: 3px;
    transition: .3s;
}
.navigation-accordion {
    overflow: hidden;
    transition: .3s;
    text-align: left;
    font-size: 20px;
    padding: 0 0 0 100px;
}


/* ------ Navigation Responsive */
@media only screen and (min-width: 1120px) {
    .navbar-middle {
        width: 100%;
    }
    #burger-cross-wrapper {
        display: none;
    }
    .desktop-navigation {
        display: block;
        width: 100%;
    }
    .desktop-navigation-ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: var(--white);
    }
    .desktop-navigation-li {
        margin-right: 50px;
    }
    .navbar-right {
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer{
    background-color: black;
    font-family: 'Titillium Web';
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-container{
    display: flex;
    justify-content: center;
}

.footer-logo{
    padding: 10px;
}

.footer-bund-facebook{
    display: flex;
    justify-content: center;
}

.footer-facebook{
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.footer-logo-under-tekst-bund{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.footer-logo-overskrift{
    font-size: 40px;
}
.footer-info-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 15px;
}

.footer-bund-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-services{
    color: white;
    text-decoration: none;
}
.footer-contact{
    color: white;
    text-decoration: none;
}

.footer-about{
    text-decoration: none;
    color: white;
}

.footer-bund-copyright-tekst-fullscreen{
    display: none;
}

@media screen and (min-width: 762px){
    .footer{
        flex-direction: row;
        justify-content: space-around;
        font-weight: 300;
    }

    .footer-bund-copyright-tekst-small{
        display: none;
    }

    .footer-bund-copyright-tekst-fullscreen{
        display: block;
    }

    .footer-copyright-fullscreen{
        /* -------------- */
    display: none;
    position: absolute;
    top: 65%;
    color: white;
    left: 45%;
    }

    .footer-bund-facebook{
        flex-direction: column-reverse;
        line-height: 2.5;
    }
    .footer-logo-overskrift{
        font-size: 50px;
    }
    .footer-logo-under-tekst{
        font-size: 30px;
    }
    .footer-logo-under-tekst-bund{
        font-size: 25px;
    }
    .footer-info-container{
        font-size: 30px;
        margin: 0;
    }

    .footer-info-mail:hover{
        text-decoration: underline;
/* Animeret underline virker ikke
        transition: text-decoration 10s ease-in-out;
 */    }
    .footer-info-tlf:hover{
        text-decoration: underline;
        transition: underline 0.2 ease-in-out;
    }
    .footer-info-cvr:hover{
        text-decoration: underline;
        transition: underline 0.2 ease-in-out;
    }
    .footer-info-adresse:hover{
        text-decoration: underline;
        transition: underline 0.2 ease-in-out;
    }


.footer-services:hover{
    text-decoration: underline;
}
.footer-contact:hover{
    text-decoration: underline;
}

.footer-about:hover{
    text-decoration: underline;
}


    .footer-info{
        line-height: 1.7;
    }
    .footer-bund-container{
        font-size: 25px;
        margin: 0;
    }
    .footer-facebook{
        width: 100%;
    }


}
